.header{
    background-color: rgb(19, 48, 195);  
    padding: 100px 0; 
    font-size: 37px; 
    text-align: center; 
    display: flex; 

    @media(max-width: 1200px){
    font-size: 32px; 
}
}

