@import "./blocks/header"; 
@import "./blocks/footer"; 

/*@import './blocks/*.scss'; */ 

* {
	box-sizing: border-box; 
}

body{
	background-image: url('./../imgs/icons/goalkeeper.png'); 
	background-size: cover; 
}

